/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);

  --bg-color: rgb(255 241 247);
  --font-color: rgb(53 52 48);
  --title-color: rgb(255 194 230);
  --accent-color: rgb(255 141 203);
  --accent-light-color: var(--font-color);
  --accent-dark-color: var(--font-color);
  --hover-color: rgb(50 49 45 / 0.4);
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);

    --bg-color: rgb(255 241 247);
    --font-color: rgb(53 52 48);
    --title-color: rgb(255 194 230);
    --accent-color: rgb(255 141 203);
    --accent-light-color: var(--font-color);
    --accent-dark-color: var(--font-color);
    --hover-color: rgb(50 49 45 / 0.4);
  }

  .header__rec {
    display: none;
  }
}