/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);

  --bg-color: rgba(0, 0, 40, 1);
  --font-color: rgba(241, 178, 206, 1);
  --title-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-dark-color: rgba(0, 0, 40, 1);
  
  --main-font-family: 'IBM Plex Mono';
  --main-font-size: 18px;
  --font-weight: 400;
  --font-accent-weight: 700;
  --line-height: 1.3;

  --padding-mobile: 2.67vi;
  --padding-desktop: 2.604vi;
  --padding-laptop: 20px;
}
